* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix {
    *zoom: 1;
}
.block {
    position: relative
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both
}

html, body, input, button, select {
    margin: 0;
    padding: 0;
    color: #494949;
    line-height: 1.4em;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    min-height: 100%;
}

.relative{
    position: relative;
}
a {
    text-decoration: none;
    outline: none;
    color: #006ddc;
}

p {
    line-height: 1.6em;
}

a:hover,
a:focus {
    text-decoration: underline;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.btn {
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: none;
    outline: none;
}
.btn:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}


.content-center {
    position: absolute;
    top: 50%;
    left:50%;
    margin: 0;
    padding:0;
    transform: translate(-50%,-50%);
    /*height: 100%;*/
    /*overflow: hidden;*/
}

.center {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    position: relative;
}

.fl-right {
    float: right;
}

.fl-left {
    float: left;
}

.wrapper {
    height: 100vh;
    min-height: 100%;
    position: relative;
}
.nav-wrapper .brand-logo{
    padding-left: 20px;
}
.nav-wrapper {
    background-color: #0087be!important;
}
/* --------------------- header ------------------*/

.description {
    font-size: 11px;
    color: #969696;
    padding: 0 0 0 8px;
}


.log-in-form {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    font-size: 16px;
    background-image: url("../img/log-in-form.jpg");
    background-position: top center;
    background-size: cover;
    max-height: 1000px;
}
.contact-form .col {
    width: 500px;
    padding: 0 10px;
    margin: 0 auto;
}
.contact-form .input-group {
    position: relative;
    margin: 0 0 11px;
}
.contact-form .input-group .required {
    width: 8px;
    position: absolute;
    top: 25px;
    right: 16px;
}

::-moz-placeholder{
    color: #7e7878!important;
}
.form-control {
    display: block;
    width: 100%;
    height: 52px;
    padding-left: 12px;
    font-size: 18px!important;
    line-height: 52;
    color: #555;
    background: none #fff;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    vertical-align: bottom;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.block-title h3{
    margin: 0;
    font-size: 2em;
    line-height: 2em;
    color: #464a4e;
}
.block-title span{
    font-weight: bold;
    color: #007991;
}
footer.page-footer{
    margin-top: 0!important;
    background-color: #5D7881!important;
}
footer.page-footer ul{
    display: flex;
}
footer.page-footer ul li{
    padding-left: 15px;
}
footer.page-footer .container .row{
    margin: 0!important;
}




/*forum page*/
.center-content{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 1px 0;
}
.nav-wrapper{
    background: #64B5F6;
    height: 46px;
}
.card-author{
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.pd-right{
    padding-right: 18px;
}
.card-action{
    padding: 10px 0 20px 0;
}

.rating {
    padding-left: 17px;
    padding-top: 10px
}
.rating button{
    background: none;
    border: 0;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}
.rating .up i{
    color: #00AADC;

}
.rating .down i{
    color: #00AADC;

}


.rating i:hover{
    color: rgb(0, 0, 0);
}
/*-------sing-in-container-------*/
.sing-in-container{
    padding: 100px 0 10px 0;
}
.lost-pass-btn{
    padding-right: 250px;
}
.wrapper .title h1{
    color: #a8bece;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0;
    padding: 10px 0 20px 0;
}
.post-title{
    font-size: 16px!important;
}