<div class="row">
   <!--  <div class="post_wrap">
 -->        <div class="title center">
            <h1>NEW POST</h1>
        </div>
        <div class="editor card grey lighten-5 card-action">
            <form class="col s12" name="newPost" ng-submit="addNewPost()">
                <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="post-title" class="materialize-textarea post-title" name="title" ng-model="post.title"></textarea>
                                <label for="post-title">Title</label>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="input-text" class="materialize-textarea" name="text_post" ng-model="post.text_post"></textarea>
                            <label for="input-text">Input text</label>
                            <div class="right pd-right">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                    <i class="material-icons right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    <!-- </div> -->
</div>