    <div class="article margin_page">
        <div class="row">
            <div class="col s8 col-center">
                <div class="card grey lighten-5 card-action ">
                    <div class="card-content ">
                        <span class="card-title">TITLE Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        <span class="card-author">Author</span>
                        <p>Red and blue are some of the most common colors that businesses use for branding, and for
                            good reason. Red says “confident and powerful,” while blue says “calming and trustworthy.”
                            This palette offers a little bit of both, with slightly desaturated shades that aren’t
                            overpowering. To the conservative blue and gray hues, the brick red shade adds a burst of
                            extra color that is still professional. This would work well in any corporate context or for
                            a more “serious” design project.
                        </p>
                    </div>
                    <div class="card-action clearfix">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Add some comment</label>
                                </div>
                            </div>
                        </form>
                        <div class="rating left">
                            <span class="up-number">2</span>
                            <a class="up waves-effect" name="action">
                                <i class="material-icons">thumb_up</i>
                            </a>
                            <span class="down-number">5</span>
                            <a class="down waves-effect" name="action">
                                <i class="material-icons">thumb_down</i>
                            </a>

                        </div>

                        <div class="right pd-right">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s8 col-center">
                <div class="card grey lighten-5 card-action ">
                    <div class="card-content ">
                        <span class="card-title">TITLE Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        <span class="card-author">Author</span>
                        <p>Red and blue are some of the most common colors that businesses use for branding, and for
                            good reason. Red says “confident and powerful,” while blue says “calming and trustworthy.”
                            This palette offers a little bit of both, with slightly desaturated shades that aren’t
                            overpowering. To the conservative blue and gray hues, the brick red shade adds a burst of
                            extra color that is still professional. This would work well in any corporate context or for
                            a more “serious” design project.
                        </p>
                    </div>
                    <div class="card-action clearfix">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Add some comment</label>
                                </div>
                            </div>
                        </form>
                        <div class="rating left">
                            <span class="up-number">2</span>
                            <a class="up waves-effect" name="action">
                                <i class="material-icons">thumb_up</i>
                            </a>
                            <span class="down-number">5</span>
                            <a class="down waves-effect" name="action">
                                <i class="material-icons">thumb_down</i>
                            </a>

                        </div>

                        <div class="right pd-right">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s8 col-center">
                <div class="card grey lighten-5 card-action ">
                    <div class="card-content ">
                        <span class="card-title">TITLE Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        <span class="card-author">Author</span>
                        <p>Red and blue are some of the most common colors that businesses use for branding, and for
                            good reason. Red says “confident and powerful,” while blue says “calming and trustworthy.”
                            This palette offers a little bit of both, with slightly desaturated shades that aren’t
                            overpowering. To the conservative blue and gray hues, the brick red shade adds a burst of
                            extra color that is still professional. This would work well in any corporate context or for
                            a more “serious” design project.
                        </p>
                    </div>
                    <div class="card-action clearfix">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Add some comment</label>
                                </div>
                            </div>
                        </form>
                        <div class="rating left">
                            <span class="up-number">2</span>
                            <a class="up waves-effect" name="action">
                                <i class="material-icons">thumb_up</i>
                            </a>
                            <span class="down-number">5</span>
                            <a class="down waves-effect" name="action">
                                <i class="material-icons">thumb_down</i>
                            </a>

                        </div>

                        <div class="right pd-right">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>