<section class="block log-in-form" >
        <div class="content-center">
            <div class="block-title center">
                <h3 class="welcome-txt">Welcome to <span>AppDev</span></h3>
            </div>
            <form id="quote-form" name="loginUser" ng-submit="submitLogin()">
                <div class="contact-form center">
                    <div class="clearfix">
                        <div class="col col-1">
                            <div class="input-group ">
                                <input type="text" name="login" ng-model="login.login" class="form-control" placeholder="Enter your login" />
                            </div>
                            <div class="input-group">
                                <input type="password" name="passwordU" ng-model="login.passwordU" class="form-control" placeholder="password" required="required"/>
                            </div>
                        </div>
                        <div class="col col-2">

                        </div>
                    </div>
                    <a href="#" id="lost-pass-btn" class="lost-pass-btn">Lost Password?</a>
                    <button id="log-in-btn" type="submit" class="btn waves-effect log-in-btn">Log in</button>
                </div>
            </form>
        </div>
    </section>