    <div class="article margin_page">
        <div class="row">

<!--             <div ng-repe>
                <span></span>
            </div> -->
            <div class="col s8 col-center" ng-repeat="key in posts">
                <div class="card grey lighten-5 card-action ">
                    <div class="card-content ">
                        <span class="card-title">{{key.title}}</span>
                        <span class="card-author">{{key.nick_name}}</span>
                        <p>{{key.text_post}}</p>
                    </div>
                    <div class="card-action clearfix">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Add some comment</label>
                                </div>
                            </div>
                        </form>
                        <div class="rating left">
                            <span class="up-number">2</span>
                            <a class="up waves-effect" name="action">
                                <i class="material-icons">thumb_up</i>
                            </a>
                            <span class="down-number">5</span>
                            <a class="down waves-effect" name="action">
                                <i class="material-icons">thumb_down</i>
                            </a>

                        </div>

                        <div class="right pd-right">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
