    <div class="sing-in-container">
        <div class="row">
            <form class="col s12" name='userForm' ng-submit="submitForm()">
                <div class="row">
                    <div class="input-field col s6">
                        <input  id="first_name" name="login" ng-model="user.login" type="text" class="validate">
                        <label for="first_name">Login</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" name="nick_name" ng-model="user.nick_name" class="validate">
                        <label for="last_name">Nick Name</label>
                    </div>  
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password1" type="password" name="passwordU" ng-model="user.passwordU" class="validate">
                        <label for="password1">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" name="confirm_pass" class="validate">
                        <label for="password">Insert again your password</label>
                    </div>
                </div>
    <!--             <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div> -->
                <div class="right pd-right">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
                </div>
            </form>

        </div>

        <div class="row">
            <div class="col s12 ">
                <div class="card-panel ">
              <span class="blue-grey-text">AppDev Services uses information from your account to identify you and allow access to AppDevb Services. Your use of this site is governed by our Terms of Use and Privacy Policy linked below. Your use of AppDev Services products and services is governed by the AWS Customer Agreement.
              </span>
                </div>
            </div>
        </div>
    </div>
